<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "Home"})  %>
<body>
    <nav id="navbar">
        <ul class="nav-list">
            <li class="nav-item">
                <a href="/" class="nav-link"><span class="link-text">Home</span></a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link"><span class="link-text">About Me</span></a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link"><span class="link-text">New</span></a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link"><span class="link-text">Contact</span></a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link"><span class="link-text">Theme</span></a>
            </li>
        </ul>
    </nav>
    <main>
        
    </main>
</body>
</html>