<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head', {title: "Home"})  %>
<body>
    <nav id="navbar">
        <ul class="nav-list">
            <li class="nav-item name-nav-sticky"><span class="link-text">Emir Akbarov</span></li>
            <li class="nav-item">
                <a href="#name" class="nav-link"><span class="link-text">Home</span></a>
            </li>
            <li class="nav-item">
                <a href="#skills-txt" class="nav-link"><span class="link-text">Skills</span></a>
            </li>
            <li class="nav-item">
                <a href="#portfolio-txt" class="nav-link"><span class="link-text">Portfolio</span></a>
            </li>
            <li class="nav-item">
                <a href="#contact-txt" class="nav-link"><span class="link-text">Contact</span></a>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link"><span class="link-text">Theme</span></a>
            </li>
        </ul>
    </nav>
    <nav id="links-nav">
        <a href="https://www.linkedin.com/in/emir-akbarov-55599a261/" target="_blank" class="links-btn"><svg class="linkedin" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"/></svg></a>
        <a href="https://www.instagram.com/emirakbarov3/" target="_blank" class="links-btn"><svg class="instagram" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"/></svg></a>
        <a href="https://github.com/emirakbarov" target="_blank" class="links-btn"><svg classs="github" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M165.9 397.4c0 2-2.3 3.6-5.2 3.6-3.3.3-5.6-1.3-5.6-3.6 0-2 2.3-3.6 5.2-3.6 3-.3 5.6 1.3 5.6 3.6zm-31.1-4.5c-.7 2 1.3 4.3 4.3 4.9 2.6 1 5.6 0 6.2-2s-1.3-4.3-4.3-5.2c-2.6-.7-5.5.3-6.2 2.3zm44.2-1.7c-2.9.7-4.9 2.6-4.6 4.9.3 2 2.9 3.3 5.9 2.6 2.9-.7 4.9-2.6 4.6-4.6-.3-1.9-3-3.2-5.9-2.9zM244.8 8C106.1 8 0 113.3 0 252c0 110.9 69.8 205.8 169.5 239.2 12.8 2.3 17.3-5.6 17.3-12.1 0-6.2-.3-40.4-.3-61.4 0 0-70 15-84.7-29.8 0 0-11.4-29.1-27.8-36.6 0 0-22.9-15.7 1.6-15.4 0 0 24.9 2 38.6 25.8 21.9 38.6 58.6 27.5 72.9 20.9 2.3-16 8.8-27.1 16-33.7-55.9-6.2-112.3-14.3-112.3-110.5 0-27.5 7.6-41.3 23.6-58.9-2.6-6.5-11.1-33.3 2.6-67.9 20.9-6.5 69 27 69 27 20-5.6 41.5-8.5 62.8-8.5s42.8 2.9 62.8 8.5c0 0 48.1-33.6 69-27 13.7 34.7 5.2 61.4 2.6 67.9 16 17.7 25.8 31.5 25.8 58.9 0 96.5-58.9 104.2-114.8 110.5 9.2 7.9 17 22.9 17 46.4 0 33.7-.3 75.4-.3 83.6 0 6.5 4.6 14.4 17.3 12.1C428.2 457.8 496 362.9 496 252 496 113.3 383.5 8 244.8 8zM97.2 352.9c-1.3 1-1 3.3.7 5.2 1.6 1.6 3.9 2.3 5.2 1 1.3-1 1-3.3-.7-5.2-1.6-1.6-3.9-2.3-5.2-1zm-10.8-8.1c-.7 1.3.3 2.9 2.3 3.9 1.6 1 3.6.7 4.3-.7.7-1.3-.3-2.9-2.3-3.9-2-.6-3.6-.3-4.3.7zm32.4 35.6c-1.6 1.3-1 4.3 1.3 6.2 2.3 2.3 5.2 2.6 6.5 1 1.3-1.3.7-4.3-1.3-6.2-2.2-2.3-5.2-2.6-6.5-1zm-11.4-14.7c-1.6 1-1.6 3.6 0 5.9 1.6 2.3 4.3 3.3 5.6 2.3 1.6-1.3 1.6-3.9 0-6.2-1.4-2.3-4-3.3-5.6-2z"/></svg></a>
    </nav>
    <main>
        <div id="overall-name-container">
            <div id="name-img-container">
                <img id="me-photo" src="imgs/me.jpg">
                <h1 id="name">Emir<br>Akbarov</h1>
            </div>
        </div>
        <div class="text-container">
            <div id="about-container">
                <p>Hello! I am Emir. As of the release of this website, 8th December 2023, I am a 16 year old student in Grade 10 and (hopefully) a future programmer. I enjoy programming websites in Javascript, though AI, neural networks and Python are one of the main things I hope to get into. This website is meant to showcase my work to you, the user, and I hope you have a chance to visit some of my projects. Explore and have fun! I hope you enjoy, and remember to try as many of the website's features as possible! <br> -Emir</p>
            </div>
            <text id="skills-txt" class="titles-txt">Skills</text>
            <div id="skills-container">
                <i class="fa-brands fa-html5 fa-5x skills-icons"></i>
                <i class="fa-brands fa-css3-alt fa-5x skills-icons"></i>
                <i class="fa-brands fa-js fa-5x skills-icons"></i>
                <i class="fa-brands fa-node-js fa-5x skills-icons"></i>
                <i class="fa-brands fa-java fa-5x skills-icons"></i>
                <svg class="fa-brands skills-icons" xmlns="http://www.w3.org/2000/svg" height="5em" x="0px" y="0px" viewBox="0 0 50 50">
                    <path d="M49.729 11h-.85c-1.051 0-2.041.49-2.68 1.324l-8.7 11.377-8.7-11.377C28.162 11.49 27.171 11 26.121 11h-.85l10.971 14.346L25.036 40h.85c1.051 0 2.041-.49 2.679-1.324L37.5 26.992l8.935 11.684C47.073 39.51 48.063 40 49.114 40h.85L38.758 25.346 49.729 11zM21.289 34.242c-2.554 3.881-7.582 5.87-12.389 4.116C4.671 36.815 2 32.611 2 28.109L2 27h12v0h11l0-4.134c0-6.505-4.818-12.2-11.295-12.809C6.273 9.358 0 15.21 0 22.5l0 5.573c0 5.371 3.215 10.364 8.269 12.183 6.603 2.376 13.548-1.17 15.896-7.256 0 0 0 0 0 0h-.638C22.616 33 21.789 33.481 21.289 34.242zM2 22.5C2 16.71 6.71 12 12.5 12S23 16.71 23 22.5V25H2V22.5z"></path>
                </svg>
                <svg class="fa-brands skills-icons" xmlns="http://www.w3.org/2000/svg" height="5em" x="0px" y="0px" viewBox="0 0 48 48">
                    <polygon points="19.981,15.84 19.981,10.575 -0.014,21.019 -0.014,26.92 20.066,37.363 20.066,32.099 5.208,23.948"></polygon><polygon points="23.547,36.281 29.575,36.281 47.066,11.807 41.08,11.807"></polygon><path d="M28.429,12.274c-2.79,0-5.052,2.262-5.052,5.052s2.262,5.052,5.052,5.052s5.052-2.262,5.052-5.052	C33.481,14.535,31.219,12.274,28.429,12.274z M28.472,18.981c-0.821,0-1.486-0.77-1.486-1.719s0.665-1.719,1.486-1.719	s1.486,0.77,1.486,1.719S29.292,18.981,28.472,18.981z"></path><path d="M41.429,27.274c-2.79,0-5.052,2.262-5.052,5.052s2.262,5.052,5.052,5.052s5.052-2.262,5.052-5.052	C46.481,29.535,44.219,27.274,41.429,27.274z M41.472,33.981c-0.821,0-1.486-0.77-1.486-1.719s0.665-1.719,1.486-1.719	s1.486,0.77,1.486,1.719C42.958,33.211,42.292,33.981,41.472,33.981z"></path>
                </svg>
                <svg class="fa-brands skills-icons" xmlns="http://www.w3.org/2000/svg" height="5em" x="0px" y="0px" viewBox="0 0 50 50">
                    <path d="M 25 2 C 24.285156 2 23.574219 2.179688 22.933594 2.539063 L 6.089844 12.003906 C 4.808594 12.726563 4 14.074219 4 15.535156 L 4 34.464844 C 4 35.929688 4.808594 37.277344 6.089844 38 L 22.933594 47.460938 C 24.214844 48.183594 25.785156 48.183594 27.066406 47.460938 L 43.910156 38 C 45.195313 37.277344 46 35.925781 46 34.464844 L 46 15.535156 C 46 14.074219 45.191406 12.726563 43.910156 12.003906 L 27.066406 2.539063 C 26.425781 2.179688 25.714844 2 25 2 Z M 25 4 C 25.375 4 25.753906 4.09375 26.089844 4.28125 L 42.933594 13.746094 C 43.601563 14.125 44 14.804688 44 15.535156 L 44 34.464844 C 44 35.195313 43.601563 35.875 42.929688 36.253906 L 26.089844 45.71875 C 25.417969 46.09375 24.582031 46.09375 23.910156 45.71875 L 7.070313 36.253906 C 6.398438 35.875 6 35.199219 6 34.464844 L 6 15.535156 C 6 14.804688 6.398438 14.125 7.070313 13.746094 L 23.910156 4.28125 C 24.246094 4.09375 24.625 4 25 4 Z M 25 12 C 17.839844 12 12 17.839844 12 25 C 12 32.160156 17.839844 38 25 38 C 29.089844 38 32.886719 36.09375 35.339844 32.863281 L 36.023438 31.960938 L 29.96875 28.453125 L 29.421875 29.046875 C 28.292969 30.28125 26.691406 31 25 31 C 21.683594 31 19 28.316406 19 25 C 19 21.683594 21.683594 19 25 19 C 26.691406 19 28.292969 19.71875 29.421875 20.953125 L 29.96875 21.546875 L 36.023438 18.039063 L 35.339844 17.136719 C 32.886719 13.90625 29.089844 12 25 12 Z M 25 14 C 28.074219 14 30.886719 15.316406 32.945313 17.511719 L 30.203125 19.097656 C 28.757813 17.832031 26.960938 17 25 17 C 20.597656 17 17 20.597656 17 25 C 17 29.402344 20.597656 33 25 33 C 26.960938 33 28.757813 32.167969 30.203125 30.902344 L 32.945313 32.488281 C 30.886719 34.683594 28.074219 36 25 36 C 18.925781 36 14 31.074219 14 25 C 14 18.925781 18.925781 14 25 14 Z M 35 20 L 35 22 L 33 22 L 33 24 L 35 24 L 35 26 L 33 26 L 33 28 L 35 28 L 35 30 L 37 30 L 37 28 L 39 28 L 39 30 L 41 30 L 41 28 L 43 28 L 43 26 L 41 26 L 41 24 L 43 24 L 43 22 L 41 22 L 41 20 L 39 20 L 39 22 L 37 22 L 37 20 Z M 37 24 L 39 24 L 39 26 L 37 26 Z"></path>
                </svg>
                <i class="fa-brands fa-git fa-6x skills-icons"></i>
                <i class="fa-brands fa-github fa-6x skills-icons"></i>
            </div>
            <text id="portfolio-txt" class="titles-txt">Portfolio</text>
            <div id="portfolio-container">
                <div class="portfolio-item item-1">
                    <h3 class="portfolio-title">Visit Paris</h3>
                    <p class="portfolio-desc">A short website I made for my Grade 10 first project. I made a server and used a database to store user details.</p>
                    <div class="portfolio-logo"><img href="/" src="imgs/visit-paris-website-favicon---black.png"></div>
                    <div class="portfolio-skills">
                        <i class="fa-brands fa-html5 fa-3x portfolio-icons"></i>
                        <i class="fa-brands fa-css3-alt fa-3x portfolio-icons"></i>
                        <i class="fa-brands fa-js fa-3x portfolio-icons"></i>
                        <i class="fa-brands fa-node-js fa-3x portfolio-icons"></i>
                        <svg class="fa-brands portfolio-icons" xmlns="http://www.w3.org/2000/svg" width="3em" viewBox="0 0 24 24"><path d="M17.193 9.555c-1.264-5.58-4.252-7.414-4.573-8.115c-.28-.394-.53-.954-.735-1.44c-.036.495-.055.685-.523 1.184c-.723.566-4.438 3.682-4.74 10.02c-.282 5.912 4.27 9.435 4.888 9.884l.07.05A73.49 73.49 0 0 1 11.91 24h.481a28.48 28.48 0 0 1 .51-3.07c.417-.296.604-.463.85-.693a11.342 11.342 0 0 0 3.639-8.464c.01-.814-.103-1.662-.197-2.218zm-5.336 8.195s0-8.291.275-8.29c.213 0 .49 10.695.49 10.695c-.381-.045-.765-1.76-.765-2.405z"/></svg>
                        <svg class="fa-brands portfolio-icons" xmlns="http://www.w3.org/2000/svg" width="3em" x="0px" y="0px" viewBox="0 0 50 50">
                            <path d="M49.729 11h-.85c-1.051 0-2.041.49-2.68 1.324l-8.7 11.377-8.7-11.377C28.162 11.49 27.171 11 26.121 11h-.85l10.971 14.346L25.036 40h.85c1.051 0 2.041-.49 2.679-1.324L37.5 26.992l8.935 11.684C47.073 39.51 48.063 40 49.114 40h.85L38.758 25.346 49.729 11zM21.289 34.242c-2.554 3.881-7.582 5.87-12.389 4.116C4.671 36.815 2 32.611 2 28.109L2 27h12v0h11l0-4.134c0-6.505-4.818-12.2-11.295-12.809C6.273 9.358 0 15.21 0 22.5l0 5.573c0 5.371 3.215 10.364 8.269 12.183 6.603 2.376 13.548-1.17 15.896-7.256 0 0 0 0 0 0h-.638C22.616 33 21.789 33.481 21.289 34.242zM2 22.5C2 16.71 6.71 12 12.5 12S23 16.71 23 22.5V25H2V22.5z"></path>
                        </svg>
                        <svg class="fa-brands portfolio-icons" xmlns="http://www.w3.org/2000/svg" width="3em" x="0px" y="0px" viewBox="0 0 48 48">
                            <polygon points="19.981,15.84 19.981,10.575 -0.014,21.019 -0.014,26.92 20.066,37.363 20.066,32.099 5.208,23.948"></polygon><polygon points="23.547,36.281 29.575,36.281 47.066,11.807 41.08,11.807"></polygon><path d="M28.429,12.274c-2.79,0-5.052,2.262-5.052,5.052s2.262,5.052,5.052,5.052s5.052-2.262,5.052-5.052	C33.481,14.535,31.219,12.274,28.429,12.274z M28.472,18.981c-0.821,0-1.486-0.77-1.486-1.719s0.665-1.719,1.486-1.719	s1.486,0.77,1.486,1.719S29.292,18.981,28.472,18.981z"></path><path d="M41.429,27.274c-2.79,0-5.052,2.262-5.052,5.052s2.262,5.052,5.052,5.052s5.052-2.262,5.052-5.052	C46.481,29.535,44.219,27.274,41.429,27.274z M41.472,33.981c-0.821,0-1.486-0.77-1.486-1.719s0.665-1.719,1.486-1.719	s1.486,0.77,1.486,1.719C42.958,33.211,42.292,33.981,41.472,33.981z"></path>
                        </svg>
                    </div>
                </div>
                <div class="portfolio-item item-2">
                    <h3 class="portfolio-title">Coming Soon</h3>
                    <p class="portfolio-desc">A short website I made for my Grade 10 first project. I made a server and used a database to store user details.</p>
                    <div class="portfolio-logo"><img src="imgs/visit-paris-website-favicon---black.png"></div>
                    <div class="portfolio-skills"></div>
                </div>
                <div class="portfolio-item item-3">
                    <h3 class="portfolio-title">Visit Paris</h3>
                    <p class="portfolio-desc">A short website I made for my Grade 10 first project. I made a server and used a database to store user details.</p>
                    <div class="portfolio-logo"><img src="imgs/visit-paris-website-favicon---black.png"></div>
                    <div class="portfolio-skills"></div>
                </div>
                <div class="portfolio-item item-4">
                    <h3 class="portfolio-title">Visit Paris</h3>
                    <p class="portfolio-desc">A short website I made for my Grade 10 first project. I made a server and used a database to store user details.</p>
                    <div class="portfolio-logo"><img src="imgs/visit-paris-website-favicon---black.png"></div>
                    <div class="portfolio-skills"></div>
                </div>
            </div>
            <text id="contact-txt" class="titles-txt">Contact me!</text>
            <div id="contact-page">
                <form id="user-message-form" method="POST" action="/">
                    <div>
                        <input name="name" id="name-input" type="text" placeholder="Type your name...">
                        <input name="email" id="email-input" type="email" placeholder="...and your email...">
                    </div>
                    <textarea name="message" id="user-message" placeholder="...and what you want to say!"></textarea>
                    <button type="submit">Send!</button>
                </form>
            </div>
        </div>
        <footer class="footer">
            <div id="info-container">
                <ul id="info-list">
                    <li class="info-item"><a href="#name" class="info-link"><span class="info-text">Home</span></a></li>
                    <li class="info-item"><a href="#skills-txt" class="info-link"><span class="info-text">Skills</span></a></li>
                    <li class="info-item"><a href="##portfolio-txt" class="info-link"><span class="info-text">Portfolio</span></a></li>
                    <li class="info-item"><a href="#contact-txt" class="info-link"><span class="info-text">Contact</span></a></li>
                    <li class="info-item"><a href="/" class="info-link"><span class="info-text">Theme</span></a></li>
                </ul>
            </div>
            <div id="footer-bottom-container">
                <text id="footnote">Thanks for visiting this website. More projects coming soon!</text>
                <text id="copyright-txt">&copy; 2023 Emir Akbarov</text>
                <div id="footer-login-container">
                    <label for="pers-pas">If you're me, enter the password</label>
                    <input type="password" name="pers-pas" id="pers-pas">
                </div>
            </div>
        </footer>
    </main>
</body>
</html>