
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

/* anims */
@keyframes jumpFromRight {
    0% {
        translate: 100% 0;
    }
    30% {
        translate: -5% 0;
        transform: scaleX(1);
    }
    50% {
        transform: scaleX(0.5);
    }
    60% {
        transform: scaleX(1);
    }
    70% {
        translate: 15% 0;
    }
    100% {
        translate: 0 0;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--main-fnt);
}
:root {
    --main-bg: #F4F4F9;
    --nav-bg: #2F4550;
    --txt-clr: #000000;
    --main-fnt: 'Cabin', sans-serif;
    --nav-txt-clr: #B8DBD9;
    --nav-txt-hvr-clr: #a7acac;
}

/* main stylings */

.fa-brands {
    display: inline;
    flex-grow: 0;
    flex-shrink: 0;
    fill: var(--nav-bg);
    color: var(--nav-bg);
}

.titles-txt {
    color: var(--txt-clr);
    font-family: var(--main-fnt);
    font-size: 4rem;
}

.text-container {
    margin-left: 5.3rem;
    margin-right: 5.3rem;
}
#name {
    color: var(--nav-bg);
    font-family: var(--main-fnt);
    font-size: 12rem;
    text-align: left;
    display: inline-block;
    padding-left: 2rem;
    text-shadow: 10px 10px var(--nav-txt-clr);
}

#me-photo {
    display: inline;
    border: 3px solid var(--txt-clr);
    box-shadow: 10px 10px var(--nav-bg);
}

#name-img-container {
    display: block;
    overflow: 0;
    text-align: center;
}

#overall-name-container {
    width: 100%;
}

/* about me stylings */

#about-container > p {
    font-family: var(--main-fnt);
    color: var(--txt-clr);
    font-size: 1.3rem;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

/* skills stylings */

#skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
    z-index: 5;
}

.skills-icons {
    padding: 0 1.5rem 1.5rem 1.5rem;
    transform: scale(0.9);
    max-width: 10em;
    transition: transform 0.1s;
}

/* contact form */

#user-message-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 4rem;
    margin-bottom: 2rem;
}

#user-message-form > div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#name-input, #email-input {
    width: 100%;
    height: 3rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 3px solid var(--txt-clr);
    box-shadow: 10px 10px var(--nav-bg);
    background-color: var(--nav-txt-clr);
    color: var(--txt-clr);
}

#user-message {
    width: 100%;
    height: 20rem;
    margin-bottom: 1rem;
    font-size: 1.4rem;
    padding: 0.5rem;
    box-sizing: border-box;
    border: 3px solid var(--txt-clr);
    box-shadow: 10px 10px var(--nav-bg);
    background-color: var(--nav-txt-clr);
    color: var(--txt-clr);
}

#user-message-form > button {
    width: 100%;
    height: 3rem;
    font-size: 1.4rem;
    border: 3px solid var(--txt-clr);
    box-shadow: 10px 10px var(--nav-bg);
    background-color: var(--nav-txt-clr);
    color: var(--txt-clr);
}
#user-message-form > button:hover {
    background-color: var(--nav-txt-hvr-clr);
}

#name-input {
    margin-right: 0.6rem;
}
#email-input {
    margin-left: 0.6rem;
}

::placeholder {
    color: var(--txt-clr);
    opacity: 0.6;
}

/* footer stylings */

.footer {
    background-color: var(--nav-bg);
    color: var(--nav-txt-clr);
    margin-top: 10rem;
}
#info-list {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-bottom: 6rem;
    font-size: 1.6rem;
}
.info-item {
    margin-right: 3.2rem;
    cursor: pointer;
}
.info-list:last-child {
    margin-right: 0;
}
.info-link {
    color: var(--nav-txt-clr);
}
#footer-bottom-container {
    display: flex;
    justify-content: space-between;
}
#footnote {
    margin-left: 1rem;
}
#footer-login-container {
    margin-right: 1rem;
    font-size: 0.6rem;
}
#footer-login-container > input {
    height: 0.6rem;
    background-color: var(--nav-txt-clr);
}

/* scrollbar stylings */
body::-webkit-scrollbar {
    width: 0.8rem;
}

body::-webkit-scrollbar-track {
    background: var(--nav-bg);
}
body::-webkit-scrollbar-thumb {
    background: var(--nav-txt-clr);
    border: 1.3px solid var(--txt-clr);
    border-radius: 3px;
}
body::-webkit-scrollbar-thumb:hover {
    background: var(--nav-txt-hvr-clr);
}