
@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

/* anims */
@keyframes jumpFromBottom {
    0% {
        top: 150%;
    }
    100% {
        top: 15%;
    }
}
@keyframes jumpFromLeft {

}

* {
    margin: 0;
    padding: 0;
}
:root {
    --main-bg: #F4F4F9;
    --nav-bg: #2F4550;
    --txt-clr: #000000;
    --main-fnt: 'Cabin', sans-serif;
    --nav-txt-clr: #B8DBD9;
    --nav-txt-hvr-clr: #a7acac;
}
/* top stylings */

#name-nav, #surname-nav {
    font-size: 7rem;
    box-sizing: border-box;
    flex-grow: 0;
    flex-shrink: 0;
    position: absolute;
    left: 2%;
    font-family: var(--main-fnt);
}

/* main stylings */

.text-container {
    margin-left: 5.3rem;
    margin-right: 5.3rem;
}
#name {
    color: var(--nav-bg);
    font-family: var(--main-fnt);
    font-size: 12rem;
    text-align: left;
    display: inline-block;
    padding-left: 2rem;
}

#me-photo {
    display: inline;
    border: 3px solid var(--txt-clr);
}

#name-img-container {
    display: block;
    overflow: 0;
    text-align: center;
}

#overall-name-container {
    width: 100%;
}

/* js classes */ 
